{% load static %}

<style>
     /* .btn {
        border-radius: 0;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .btn-primary {
        background-color: #ffd333 ;
        border: none;
        color: #000;
    }
    
    .btn-primary:hover {
        background-color: #3d464d;
        color: #fff;
        
    }
    .btn-light {
        border: 1px solid #dee2e6;
        background-color:  #3d464d;
        color: #fff;
    }

    .btn-light:hover {
        border: 1px solid #dee2e6;
        background-color: #ffd333;
        color: #000;
    } */
</style>
<body>
    <div class="modal-dialog modal-dialog-centered">
                    
    </div> 
    <form action="" id="product-form">
        <input type="hidden" name="id" value="{{product.id}}">
        <div class="mb-3">
            <label for="name" class="control-label"><i  class="fa-solid fa-box-open" style="padding-right:0.5rem;" ></i>Name</label>
            <input type="text" id="name" name="name" class="form-control form-control-sm rounded-0" value="{{product.name}}" required>
        </div>
        <div class="form-group">
            <label>Choose Image&nbsp;<i style='font-size:14px' class='fas'>&#xf023;</i></label>
                                        <span style="color:#ff0000">*</span>
                                        <input  type="file" name='image' class="form-control" value="{{product.image}}" required > 
        </div>
        <!-- <div class="mb-3">
            <label for="price" class="control-label"><i class="fa-solid fa-hand-holding-dollar" style="padding-right:0.5rem;"></i>Price</label>
            <input type="number" step="any" id="price" name="price" class="form-control form-control-sm rounded-0" value="{{product.price|floatformat}}" required>
        </div> -->
        <div class="mb-3">
            <label for="purchase_rate" class="control-label"><i class="fa-solid fa-hand-holding-dollar" style="padding-right:0.5rem;"></i>purchase_rate</label>
            <input type="number" step="any" id="purchase_rate" name="purchase_rate" class="form-control form-control-sm rounded-0" value="{{product.purchase_rate|floatformat}}" required>
        </div>
        <div class="mb-3">
            <label for="GST" class="control-label"><i class="fa-solid fa-hand-holding-dollar" style="padding-right:0.5rem;"></i>GST</label>
            <input type="number" step="any" id="GST" name="GST" class="form-control form-control-sm rounded-0" value="{{product.GST|floatformat}}" required>
        </div>
        <div class="mb-3">
            <label for="sale_price" class="control-label"><i class="fa-solid fa-hand-holding-dollar" style="padding-right:0.5rem;"></i>sale_price</label>
            <input type="number" step="any" id="sale_price" name="sale_price" class="form-control form-control-sm rounded-0" value="{{product.sale_price|floatformat}}" required>
        </div>
        <!-- <div class="mb-3">
            <label for="final_price" class="control-label"><i class="fa-solid fa-hand-holding-dollar" style="padding-right:0.5rem;"></i>final_price</label>
            <input type="number" step="any" id="final_price" name="final_price" class="form-control form-control-sm rounded-0" value="{{product.final_price|floatformat}}" required>
        </div> -->
        <div class="mb-3">
            <label for="description" class="control-label"><i class="fa-solid fa-clipboard" style="padding-right:0.5rem;"></i>Description</label>
            <textarea rows="3" id="description" name="description" class="form-control form-control-sm rounded-0" required>{{product.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="status" class="control-label"><i class="fa-solid fa-chart-simple" style="padding-right:0.5rem;"></i>Status</label>
            <select type="text" id="status" name="status" class="form-select form-select-sm rounded-0" required>
                {% if product.status == '1' %}
                <option value="1" selected>Active</option>
                {% else %}
                <option value="1">Active</option>
                {% endif %}
                {% if product.status == '2' %}
                <option value="2" selected>Inactive</option>
                {% else %}
                <option value="2">Inactive</option>
                {% endif %}
            </select>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#product-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-product' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.href = ("{% url 'view-product' %}/"+resp.id)
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>