{% load static %}
<style>
    .errorlist {
        color: var(--bs-danger);
    }

    .mdc-text-field {
        width: 100%;
    }

    .mdc-text-field--outlined {
        padding: 0.5rem;
        border-radius: 0;
    }

    .card {
        border-radius: 0;
    }

    .card-header {
        background-color: #ffd333;
        border-bottom: none;
    }

    .card-title {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .card-body {
        padding: 1rem;
    }

    /* .btn {
        border-radius: 0;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .btn-primary {
        background-color: #ffd333 ;
        border: none;
        color: #000;
    }
    
    .btn-primary:hover {
        background-color: #3d464d;
        color: #fff;
        
    }
    .btn-light {
        border: 1px solid #dee2e6;
        background-color:  #3d464d;
        color: #fff;
    }

    .btn-light:hover {
        border: 1px solid #dee2e6;
        background-color: #ffd333;
        color: #000;
    } */
    .form-select{
        margin:10px;
        padding:10px;
        border-radius:10px;
    }

.form-control{
    margin:10px;
    padding:10px;
    border-radius:10px;
    

}
</style>

<body>
    <div class="modal-dialog modal-dialog-centered">
                    
    </div>
    <form  class="from"action="" id="user-form" padding="10px">
                                           
        <input type="hidden" name="id" value="{{user.id}}">
        <input type="hidden" name="manage_rider" value="1">
         <div class="row">
            <div class="col">
                <label for="first_name" class="control-label"><i class="fa-solid fa-user-tie "style="padding-right:0.5rem;" ></i>First Name</label>
                <input type="text" class="form-control " name="first_name" id="first_name" value="{% if form.data.first_name %}{{ form.data.first_name }}{% else %}{{ user.first_name }}{% endif %}" required="required">
            </div>
            <div class="col">
                <label for="last_name" class="control-label"><i class="fa-solid fa-user-tie" style="padding-right:0.5rem;"></i>Last Name</label>
                <input type="text" class="form-control " name="last_name" id="last_name" value="{% if form.data.last_name %}{{ form.data.last_name }}{% else %}{{ user.last_name }}{% endif %}" required="required">
            </div>
          </div>

          <div class="row">
            
            <div class="col">
                <label for="email" class="control-label"><i class="fa-solid fa-envelope"style="padding-right:0.5rem;"></i>Email</label>
                <input type="email" class="form-control " name="email" id="email" value="{% if form.data.email %}{{ form.data.email }}{% else %}{{ user.email }}{% endif %}" required="required">
            </div>
            <div class="col">
                <label for="phone" class="control-label"><i class="fa-solid fa-mobile-retro" style="padding-right:0.5rem;"></i>Contact Number</label>
                <input type="phone" class="form-control " name="phone" id="phone" value="{% if form.data.phone %}{{ form.data.phone }}{% else %}{{ user.phone }}{% endif %}" required="required">
            </div>
          </div>

          <div class="row">
            
            <div class="col">
                <label for="location" class="control-label"><i class="fa-solid fa-location-dot" style="padding-right:0.5rem;"></i>Location</label>
            <input type="location" class="form-control " name="location" id="location" value="{% if form.data.location %}{{ form.data.location }}{% else %}{{ user.location }}{% endif %}" required="required">
            </div>
            <div class="col">
                <label for="pincode" class="control-label"><i class="fa-regular fa-user"style="padding-right:0.5rem;"></i>Pincode</label>
                <input type="pincode" class="form-control " name="pincode" id="pincode" value="{% if form.data.pincode %}{{ form.data.pincode }}{% else %}{{ user.pincode }}{% endif %}" required="required">
            </div>
          </div>

        <!-- <div class="form-group mb-4">
            <label for="franchise_city" class="control-label"><i class="fa-solid fa-city" style="padding-right:0.5rem;"></i>City</label>
            <input type="franchise_city" class="form-control " name="franchise_city" id="franchise_city" value="{% if form.data.franchise_city %}{{ form.data.franchise_city }}{% else %}{{ user.franchise_city }}{% endif %}" required="required">
        </div>  -->
        
        
        <div class="row">
            <div class="col">
                <label for="city" class="control-label"><i class="fa-solid fa-city" style="padding-right:0.5rem;"></i>City</label>
                <input type="city" class="form-control " name="city" id="city" value="{% if form.data.city%}{{ form.data.city }}{% else %}{{ user.city }}{% endif %}" required="required">
            </div>
        <div class="col">
            <label for="district" class="control-label"><i class="fa-solid fa-map-location-dot" style="padding-right:0.5rem;"></i>District</label>
            <input type="district" class="form-control " name="district" id="district" value="{% if form.data.district %}{{ form.data.district }}{% else %}{{ user.district }}{% endif %}" required="required">
        </div> 
    </div>
    <div class="row">
        <div class="col">
            <label>Choose Photo&nbsp;<i style='font-size:14px' class='fas'>&#xf023;</i></label>
            <span style="color:#ff0000">*</span>
            <input  type="file" name='photo' class="form-control" value="{{user.photo}}" required > </div>
        <div class="col">
            <label>Choose Aadhar&nbsp;<i style='font-size:14px' class='fas'>&#xf023;</i></label>
            <span style="color:#ff0000">*</span>
            <input  type="file" name='aadhar' class="form-control" value="{{user.aadhar}}" required > 
        </div></div>
        <div class="row">
        <div class="col">
        <label>Choose License&nbsp;<i style='font-size:14px' class='fas'>&#xf023;</i></label>
        <span style="color:#ff0000">*</span>
        <input  type="file" name='license' class="form-control" value="{{user.license}}" required > </div> 
        <!-- <div class="col">
            <label for="franchise_details" class="control-label"><i class="fa-solid fa-map-location-dot" style="padding-right:0.5rem;"></i>Franchise Details</label>
            <input type="franchise_details" class="form-control " name="franchise_details" id="franchise_details" value="{% if form.data.franchise_details %}{{ form.data.franchise_details }}{% else %}{{ user.franchise_details }}{% endif %}" required="required">
        </div>  -->
        <div class="col">
            <label for="franchise_details" class="control-label">Franchise Details</label>
            <select id="franchise_details" name="franchise_details" class="form-control form-control-sm rounded-0">
                <option value="" disabled selected></option>
                {% for user in fusers %}
                <option value="{{user.id}}" name="franchise_details">{{user.username}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
        <div class="row">
            <div class="col">
                <label for="username" class="control-label"><i class="fa-regular fa-user"style="padding-right:0.5rem;"></i>Username</label>
                <input type="text" class="form-control " name="username" id="username" value="{% if form.data.username %}{{ form.data.username }}{% else %}{{ user.username }}{% endif %}" required="required">
            </div>
        </div>
        {% if not user.id %}
        
        <div class="row">
            <div class="col">
            <label for="password1" class="control-label"><i class="fa-solid fa-lock" style="padding-right:0.5rem;"></i>Enter Password</label>
            <input type="password" class="form-control" id="password1" required="required"  name="password1" >
            </div>
            <div class="col">
            <label for="password2" class="control-label"><i class="fa-solid fa-lock" style="padding-right:0.5rem;"></i>Confirm Password</label>
            <input type="password" class="form-control" id="password2" required="required"  name="password2" >
        </div>
    </div>
        <!-- <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_rider" id="is_rider" value="1" >
            <label class="form-check-label" for="is_rider"><i class="fa-solid fa-person-biking" style="padding-right:0.5rem;"></i>Rider</label>
        </div> -->
        <input type="hidden" name="is_rider" value="1">
        {% endif %}
</body>
</body>

<script>
    $(function() {
        $('#user-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-rider' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>