{% load static%}
{% load crispy_forms_tags %}


{% block scripts %}
    <script  src="{% static 'report/home.js' %}" defer></script>
{% endblock scripts%}

<style>
  .side-by-side-form {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of form fields to the next line if needed */
    align-items: center;
}

.form-field {
    margin-right: 15px; /* Adjust as needed */
    margin-bottom: 15px; /* Adjust as needed if you want vertical spacing */
    flex: 1; /* Distribute available space equally among form fields */
    min-width: 200px; /* Adjust as needed */
}

</style>


<h3><strong>Transaction & Sale Date of Franchisees</strong></h3>

{% block content %}
<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
      <div id ="alert-box"></div>
        <form id = "report-form" autocomplete="off">
            {% csrf_token %}
            {{report_form|crispy}}
            <hr>
            <button type="sumit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div> 

{% if no_data %}
    <div class="alert alert-danger" role="alert">
    {{no_data}}
    </div>
{% endif %}


<hr>
<form action="" method="POST" class="side-by-side-form">
  {% csrf_token %}
  <div class="form-field">
      <label>{{ search_form.date_from.label_tag }}</label>
      {{ search_form.date_from|as_crispy_field }}
  </div>
  <div class="form-field">
      <label>{{ search_form.date_to.label_tag }}</label>
      {{ search_form.date_to|as_crispy_field }}
  </div>
  <div class="form-field">
      <label>{{ search_form.chart_type.label_tag }}</label>
      {{ search_form.chart_type|as_crispy_field }}
  </div>
  <div class="form-field">
      <label>{{ search_form.results_by.label_tag }}</label>
      {{ search_form.results_by|as_crispy_field }}
  </div>
  <!-- <div class="form-field">
      <label>{{ search_form.franchise_details.label_tag }}</label>
      {{ search_form.franchise_details|as_crispy_field }}
  </div> -->
  <div class="form-field">
    <label for="franchise_details">Franchise Details</label>
    <select id="franchise_details" name="franchise_details" class="form-control form-control-sm rounded-0">
        <option value="" disabled selected></option>
        {% for user in fusers %}
            <option value="{{user.username}}">{{user.username}}</option>
        {% endfor %}
    </select>
</div>
  <div class="form-field">
      <button type="submit" class="btn btn-primary mt-3">Search</button>
  </div>
</form>


<br>

{% if sales_df %}
<div> 
  <img id="img" style="width:90%;" src="data:image/png;base64,{{chart|safe}}">
  <!--
     <table class="table">
      <thead>
        <tr style="text-align: center;">
          <th>Sales ID</th>
          <th>Transaction ID</th>
          <th>Total Price</th>
          <th>Customer</th>
          <th>Salesman</th>
          <th>Date Created</th>
        </tr>
      </thead>
    </table>

  -->
   


    {{sales_df|safe}}

    <br>

    <!--{{ positions_df|safe}}
    <br>
    {{merged_df|safe}}

    <br> -->
    {{ df}}
    <br>

    <!-- <img id="img" style="width:90%;" src="data:image/png;base64,{{chart|safe}}"> -->
</div>      
{% endif %}    
<!-- <button class ="btn btn-primary not-visible mb-3" style="margin-left:70px;" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">Add Report</button>
<button class="btn btn-sm btn-success bg-gradient bg-success rounded-0" type="button" id="print"><i class="fa fa-print"></i> Print</button> -->
<br>

{% endblock content %}
{% block ScriptBlock %}
<script>
    $(function() {
        // $('#laundry-tbl').find('td, th').addClass('px-2 py-1 align-middle')
        // $('#filter-form').submit(function(e) {
        //     e.preventDefault()
        //     location.href = '{% url "daily-report" %}/' + $('#date').val()
        // })
        $('#print').click(function() {
            console.log('print')
            var h = $('head').clone()
            h.find('title').text("Daily Transaction Report - Print Details")
            h.find('link').each(function() {
                if ($(this).is('[href]')) {
                    $(this).attr('href', "{{system_host}}" + $(this).attr('href'))
                }
            })
            h.find('script').each(function() {
                if ($(this).is('[src]')) {
                    $(this).attr('src', "{{system_host}}" + $(this).attr('src'))
                }
            })
            var ph = $($('noscript#print-header').html()).clone()
            var el = "";
            el += $('#laundry-tbl').clone()[0].outerHTML


            var nw = window.open("", "_blank", "width=" + ($(window).width() * .8) + ", left=" + ($(window).width() * .1) + "height=" + ($(window).height() * .8) + ", top=" + ($(window).height() * .1) + "")
            nw.document.querySelector('head').innerHTML = h.html()
            nw.document.querySelector('body').innerHTML = ph[0].outerHTML
            nw.document.querySelector('body').innerHTML += el
            nw.document.close()
            start_loader()
            setTimeout(() => {
                nw.print()
                setTimeout(() => {
                    nw.close()
                    end_loader()
                }, 200)
            }, 300)
        })
    })
</script>
{% endblock ScriptBlock %}