{% load static %}{% load humanize %}{% block pageContent %}
<style>
    #laundry-img {
        max-width: 100%;
        max-height: 10em;
        object-fit: scale-down;
        object-position: center center;
    }
    .back-button {
            /* padding: 10px 20px; */
            float: right;
        }

    .back-button a {
        /* color: #fff;
        background-color: #3d464d; */
        text-decoration: none;
        font-size: 2rem;
        padding: 0.5rem 1rem;
        color: #3d464d;
    }
    .h5{
        font-weight: bold;
    }
</style>
<section class="py-4">
    <div class="container">
        <div class="card rounded-0 mb-3">
            <div class="card-header">
                <div class="back-button">
                    <a href="{% url 'reciepts_franchise' %}"><i class="fa-solid fa-circle-left"></i></a>
                </div>
                <div class="card-title py-1">Client Details</div>
            </div>
            <div class="card-body">
                <div class="container-fluid" id="client-details">
                    {% if laundry.code %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="font-weight-bold">Transaction Code:</div>
                            <div class="h5">{{ laundry.code }}</div>
                        </div>
                    </div>
                    {% endif %}
                    <hr>
                    <div class="row mb-3">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4">
                            <div class="font-weight-bold">Fullname:</div>
                            <div class="h5">{{ laundry.client }}</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4">
                            <div class="font-weight-bold">Contact:</div>
                            <div class="h5">{{ laundry.contact }}</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4">
                            <div class="font-weight-bold">Address:</div>
                            <div class="h5">{{ laundry.address }}</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4">
                            <div class="font-weight-bold">Pincode:</div>
                            <div class="h5">{{ laundry.pincode }}</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        
                        
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4">
                            <div class="font-weight-bold">Franchise Detail:</div>
                            <div class="h5">{{ laundry.franchise_details }}</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4">
                            <div class="font-weight-bold">Pickup Date:</div>
                            <div class="h5">{{ laundry.pickup_date }}</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4">
                            <div class="font-weight-bold">Delivery Date:</div>
                            <div class="h5">{{ laundry.delivery_date }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mb-3">
            <div class="card-header py-1">
                <div class="card-title mb-0">Laundries</div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <table class="table table-bordered" id="laundry_list">
                        <colgroup>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <thead class="table-light">
                            <tr>
                                <th class="p-1 text-center">Laundry Type</th>
                                <th class="p-1 text-center">Category</th>
                                <th class="p-1 text-center">Category Type</th>
                                <th class="p-1 text-center">User Type</th>
                                <th class="p-1 text-center">Price per kg.</th>
                                <th class="p-1 text-center">Weight (kg.)</th>
                                <th class="p-1 text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td class="px-2 py-1 align-middle">{{ item.laundry_type.laundry_type }}</td>
                                <td class="px-2 py-1 align-middle">{{ item.category.category }}</td>
                                <td class="px-2 py-1 align-middle">{{ item.category_type.category_type }}</td>
                                <td class="px-2 py-1 align-middle">{{ item.user_type.user_type }}</td>
                                <td class="px-2 py-1 align-middle text-end">{{ item.price|floatformat }}</td>
                                <td class="px-2 py-1 align-middle text-center">{{ item.weight|floatformat }}</td>
                                <td class="px-2 py-1 align-middle text-end">{{ item.total_amount|floatformat }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot class="table-light">
                            <tr>
                                <th class="text-center" colspan="5">Total</th>
                                <th class="text-end sub-total-laundry" colspan="2">{{ laundry.totalItems|floatformat:2|intcomma }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mb-3">
            <div class="card-body">
                <div id="payment-details">
                    <div class="d-flex justify-content-end align-items-center mb-3">
                        <div class="col-auto">
                            <h4 class="fw-bolder text-muted pe-2">Grand Total:</h4>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                            <h4 class="fw-bolder pe-2 gtotal">{% if laundry.total_amount %}{{laundry.total_amount|floatformat:2|intcomma}}{% else %}0.00{% endif %}</h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mb-3">
                        <div class="col-auto">
                            <h4 class="fw-bolder text-muted pe-2">Grand Total With Discount:</h4>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                            <h4 class="fw-bolder pe-2">{% if laundry.tendered %}{{laundry.tendered|floatformat:2|intcomma}}{% else %}0.00{% endif %}</h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="col-auto">
                            <h4 class="fw-bolder text-muted pe-2">Change:</h4>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                            <h4 class="fw-bolder pe-2 " id="change">{% if laundry.change %}{{laundry.change|floatformat:2|intcomma}}{% else %}0.00{% endif %}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer py-1 text-center">
                <button class="btn btn-primary bg-primary btn-sm rounded-0" id="update-status" type="button">Update Status</button>
                <button class="btn btn-success bg-gradient bg-success  btn-sm rounded-0" type="button" id="print"><i class="fas fa-print"></i> Print</button>
                <!-- <a class="btn btn-light bg-gradient bg-light border btn-sm rounded-0" href="{% url 'laundry-page_franchise' %}"><i class="fas fa-arrow-left"></i> Back to List</a> -->
            </div>
        </div>
    </div>
</section>

<noscript id="print-header">
<div>
    <style>
        html{
            min-height: unset !important;
        }
    </style>
    <div class="d-flex w-100">
        <div class="col-2 text-center">
            <img src="{{system_host}}{% static 'assets/default/img/smiley.jpg' %}" style="width:10em;height:3em;object-fit:cover;object-position:center center" alt="" >
        </div>
        <div class="col-8">
            <div class="lh-1">
                <h4 class="text-center mb-0 fw-bolder">{{system_name}}</h4>
                <h5 class="text-center mb-0 fw-bolder">Transaction Receipt</h5>
            </div>
        </div>
    </div>
    <hr>
</div>
</noscript> {% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#delete-data').click(function() {
            _conf("Are you sure to delete this Transaction?", 'delete_laundry', ["'" + '{% url "delete-laundry_franchise" laundry.pk %}' + "'"])
        })
        $('#update-status').click(function() {
            uni_modal("Updated Transaction's Status", '{% url "transacton-update-status" laundry.pk %}')
        })

        $('#print').click(function() {
            var h = $('head').clone()
            h.find('title').text("Transaction Receipt - Print Details")
            h.find('link').each(function() {
                if ($(this).is('[href]')) {
                    $(this).attr('href', "{{system_host}}" + $(this).attr('href'))
                }
            })
            h.find('script').each(function() {
                if ($(this).is('[src]')) {
                    $(this).attr('src', "{{system_host}}" + $(this).attr('src'))
                }
            })
            var ph = $($('noscript#print-header').html()).clone()
            var el = "";
            var cdetails = $('#client-details').clone()
            cdetails.find('.col-lg-3 ').addClass('col-3')
            el += cdetails[0].outerHTML
            el += "<h5>Laundry Items</h5>"
            el += $('#laundry_list').clone()[0].outerHTML
            // el += "<h5>Product Items</h5>"
            // el += $('#product_list').clone()[0].outerHTML
            el += $('#payment-details').clone()[0].outerHTML

            var nw = window.open("", "_blank", "width=" + ($(window).width() * .8) + ", left=" + ($(window).width() * .1) + "height=" + ($(window).height() * .8) + ", top=" + ($(window).height() * .1) + "")
            nw.document.querySelector('head').innerHTML = h.html()
            nw.document.querySelector('body').innerHTML = ph[0].outerHTML
            nw.document.querySelector('body').innerHTML += el
            nw.document.close()
            start_loader()
            setTimeout(() => {
                nw.print()
                setTimeout(() => {
                    nw.close()
                    end_loader()
                }, 200)
            }, 300)
        })
    })

    function delete_laundry(url) {

        var _this = $('#confirm_modal .modal-body')
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        start_loader()
        $.ajax({
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            },
            url: url,
            dataType: 'JSON',
            error: err => {
                console.log(err)
                alert("an error occurred.")
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.replace('{% url "laundry-page_franchise" %}')
                } else if (!!resp.msg) {
                    el.html(resp.msg)
                    _this.prepend(el)
                    el.show()
                } else {
                    el.html("An error occurred")
                    _this.prepend(el)
                    el.show()
                }
                end_loader()
            }

        })
    }
</script>
{% endblock ScriptBlock %}